<?xml version='1.0' encoding='utf-8'?>
<widget
        id="com.example.geotest"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:gap="http://phonegap.com/ns/1.0"
        versionCode="10203"
        version="1.2.3">

    <name>GeoTest!</name>

    <description>Example cordova configuration for geolocation permissions</description>

    <preference name="phonegap-version" value="cli-8.0.0" />

    <!-- According to the docs you only need this block -->
    <!-- This plugin provides information about the device's location, such as latitude and longitude. -->
    <plugin name="cordova-plugin-geolocation" spec="~4">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value="This app uses your location for maps." />
    </plugin>

    <platform name="android">
        <uses-permission name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    </platform>

</widget>
